html, body {
  height: 100%;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html {
  font-family: Trebuchet MS, Tahoma, sans-serif;
}

.hero {
  height: 300px;
  background-image: url('../img/hero-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  background-color: var(--tan);

  & .hero-container {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  & .avatar {
    position: relative;
    margin-top: 225px;
    margin-left: 25px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--white);
    z-index: 10;
    background-image: url(http://res.cloudinary.com/makeshift3ds/image/upload/makeshift-header-avatar_omdbug.jpg);
    background-size: cover;
    background-position: center center;
  }
}

.social {
  background-color: var(--brown);
  padding: 1rem;

  & .social-container {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  & .social-nav {
    display: flex;
    justify-content: flex-end;
  }

  & .icon {
    width: 25px;
    height: 25px;

    & path {
      fill: #fff;
    }
  }

  & ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 30px;

    & a { 
      margin-right: 1rem;
      padding: 4px;
    }
  }
}

.top {
  background-color: var(--brown);

  & .top-container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  & .logo {
    height: 40px;
    width: 200px;
    background: url('../img/makeshift.svg') top left no-repeat;
  }

  & .routes-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 30px;

    & a { 
      margin-right: 1rem;
      padding: 4px;
      // background-color: var(--tan);
      border-radius: 2px;
      color: var(--blue);
      text-transform: uppercase;
    }

    & a:hover {
      transition: background-color .5s;
      background-color: var(--white);
    }
  }
}

.content {
  flex: 1 0 auto;
  width: 100%;

  & .content-container {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;
    
    & article {
      flex: 1 0 auto;
      margin-right: 1rem;
      padding: 1rem;
    }

    & aside {
      width: 300px;
      padding: 1rem;
    }

    & .aside-block {
      background-color: var(--tan);
      border-radius: 4px;
      box-shadow: 1px 1px 2px #000;
      color: gray(50);
      padding: 1rem;

      & span {
        color: gray(100);
      }
    }
  }
}

footer {
  padding: 1rem;
  background-color: var(--brown);
  color: white;
  text-align: center;
}